@import 'reset';
@import 'variables/global';
@import './themes/light';
@import './themes/dark';
@import 'https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap';

body {
    color: var(--primary-color);
    min-height: 100vh;
}

.app {
    background: var(--bg-color);
    font: var(--font-m);
}


