.InputWrapper {
    display: flex;
} 

.input {
    border: none;
    border-bottom: 2px var(--primary-color) solid;
    background-color: transparent;
    transition: .2s;
    padding-bottom: 5px;
    &:focus {
        outline: none;
        border-bottom: 2px #00DA44 solid;
    }
}