.app_dark_theme {
    --bg-color: #3E3232;
    --inverted-bg-color: #FFEFEF;
    --primary-color: #F0EBE3;
    --secondary-color: #F6F5F2;
    --inverted-primary-color: #503C3C;
    --inverted-secondary-color: #3E3232;
}